<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/collectionstyle.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="cards-container container flex" id="cards-container"> 
        </div>
    </main>
    <template id="template-news-card">
        <div class="card">
            <div class="card-header">
                <img src="https://via.placeholder.com/400x200" alt="news-image" id="news-img">
            </div>
            <div class="card-content">
                <h3 id="news-title">This is the Title</h3>
                <h6 class="news-source" id="news-source">End Gadget 26/08/2023</h6>
                <p class="news-desc" id="news-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae saepe quis voluptatum quisquam vitae doloremque facilis molestias quae ratione cumque!</p>
                <button class="save-button" onclick="saveArticle(event)"><i class="fa-regular fa-bookmark"></i></button>
            </div>
        </div>
    </template>
     <script src="js/collection.js"></script>
</body>
</html>